.option {

}

.delete {
  margin-left: 85%;
}

.output {
  background-color: #c3c3c3;
}

fa-icon {
  padding-left: .5%;
}

.grid {
  color: red;
}

.loginPls {
  font-size: x-large;
  font-weight: bold;
  color: white;
  stroke: black;
  stroke-width: 20px;
}

mat-card {
  width: 50%;
  height: 50%;
}
