<div>
  <mat-toolbar class="toolbar">
    <span class="noselect" routerLink="/" (click)="otherSite = false">{{title}}</span>
    <a mat-button href="http://track.langomatisch.de">MC Tracking</a>
    <a mat-button routerLink="/urlshortener" (click)="otherSite = true;">URL-Shortener</a>
    <span class="example-fill-remaining-space"></span>
    <div *ngIf="fireAuth.user | async as user; else showLogin">
      <span class='username'>{{ user.displayName }}</span>
      <button mat-flat-button color="warn" (click)="logout()">Logout
        <fa-icon [icon]="signOutIcon"></fa-icon>
      </button>
    </div>
    <ng-template #showLogin>
      <button mat-flat-button color="warn" (click)="showLoginField = !showLoginField; openLoginField()">Login
        <fa-icon [icon]="signInIcon"></fa-icon>
      </button>
    </ng-template>
  </mat-toolbar>
  <div [hidden]="showLoginField === false">
    <mat-card>
      <mat-card-title>Login</mat-card-title>
      <input matInput type="email" placeholder="Email" required='required' [(ngModel)]="email"
             (keyup.enter)="login()">
      <input matInput type="password" placeholder="Password" required='required' [(ngModel)]="password"
             (keyup.enter)="login()">
      <button mat-flat-button color="accent" (click)="openLoginField()">Login</button>
    </mat-card>
  </div>
</div>


<router-outlet [hidden]="!otherSite"></router-outlet>

<div [hidden]="otherSite">test</div>

<!--  //"src/styles.css" -->
