/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  background-image: url("assets/background.jpg");
  background-color: rgba(195, 195, 195, 0.58);
  backdrop-filter: blur(2px);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.background {
}
